:root {
  --purple: #615087;
  --peach: #ffd5cd;
  --pink: #efbbcf;
  --lilac: #c3aed6;
}

body {
  background-color: rgb(255, 255, 255);
}

#root {
  grid-template-rows: max-content;
  width: calc(100% - 32px);
  height: calc(98vh - 32px);
  background-color: rgba(255, 255, 255);
  border-radius: 12px;
  padding: 16px;
  margin: 16px;
  justify-content: center;
  overflow: hidden;
}

.handler-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 4px rgb(255, 255, 255);
  background-color: #eceeee;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.5));
}

.handler-card:hover {
  background-color: #cdd4d4;
  border: solid 4px rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  height: 100%;
  animation: 0.9s;
  animation-timing-function: ease-in;
}

svg {
  margin: 0;
  padding: 0;
  /* border: solid 10px #fff; */
}

.handler-card img {
  clip-path: url(#svgPath);
  -webkit-clip-path: url(#svgPath);
  position: relative;
  top: -20px;
  transform: scale(4);
  width: 100px;
}

.logo-my-caty {
  position: absolute;
  z-index: 1050;
  width: 150px;
  height: 150px;

  left: 50%;
  transform: translate(-50%, -15%);
}

.awesom-home {
  position: fixed !important;
  bottom: 16px;
}

.awesom-left {
  left: 16px;
  margin: auto;
}

.awesom-right {
  float: right;
  right: 16px;
  margin: auto;
}

.col-score-top5 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.col-score-top5 .card {
  width: 300px; 
}

.col-score-top5 .avatar {
 
  width: 80px !important;
  height: 80px !important;
  min-height: 48px !important
  ;
}
.col-score-top5 .avatar img {
  background-size: cover;
  background-position: center ;
}



.col-score-top10  {
  height: 60%;
  overflow-x: hidden;
  overflow-y: auto;
}